<div class="auth-page">
  <div class="conteiner page">
    <div class="row">
      <div class="col-md-4 offset-md-4 col-xs-8 offset-xs-2">
        <h1 class="text-xs-center">Вход</h1>
        Backend errors are here
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <fieldset>
            <fieldset class="form-group">
              <input type="text"
                     class = "form-control form-control-lg"
                     placeholder="UserName"
                     formControlName="username"/>
            </fieldset>
            <fieldset class="form-group">
              <input type="password"
                     class = "form-control form-control-lg"
                     placeholder="password"
                     formControlName="password"/>
            </fieldset>
            <button class="btn btn-lg btn-primary pull-xs-right" type="submit">SugnUp</button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>


