<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']">
      DocRepo
    </a>
    <ul class="nav navbar-nav pull-xs-right">
      <ng-container *ngIf="isLoggedIn$ | async">
        <li class="nav-item">
          <a [routerLink]="['/documents']" class="nav-link" >
            <i class="ion-compose"></i>
            &nbsp; Документы
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/doctypes']" class="nav-link" >
            <i class="ion-compose"></i>
            &nbsp; Типы документов
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/senders']" class="nav-link" >
            <i class="ion-compose"></i>
            &nbsp; Субъекты
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            Пользователь: {{(currentUser$ | async).username}}
          </a>
        </li>
      </ng-container>
      <ng-container *ngIf="isAnonimous$ | async">
        <li class="nav-item">
          <a [routerLink]="['/login']" class="nav-link">
            Вход
          </a>
        </li>
      </ng-container>
    </ul>
  </div>
</nav>
